apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: road-monitor-dev
spec:
  template:
    spec:
      containers:
      - name: backend
        env:
        - name: DEBUG
          value: "True"
        - name: LOG_LEVEL
          value: "DEBUG"
        resources:
          requests:
            memory: "128Mi"
            cpu: "100m"
          limits:
            memory: "512Mi"
            cpu: "500m"