apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: road-monitor-dev
spec:
  template:
    spec:
      containers:
      - name: frontend
        env:
        - name: NODE_ENV
          value: "development"
        resources:
          requests:
            memory: "256Mi"
            cpu: "100m"
          limits:
            memory: "1Gi"
            cpu: "500m"