apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: road-monitor-dev

bases:
  - ../../base

namePrefix: dev-

commonLabels:
  environment: development

replicas:
  - name: backend
    count: 1
  - name: frontend
    count: 1

patchesStrategicMerge:
  - backend-patch.yaml
  - frontend-patch.yaml

images:
  - name: road-monitor-backend
    newTag: dev
  - name: road-monitor-frontend
    newTag: dev